# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=""
NEXT_PUBLIC_API_URL="https://pension-backend.vercel.app/api/v1"

NODE_ENV=development
DATABASE_CLOUD=""

EMAIL_USER=""
EMAIL_PASS=""

SMTP_PASSWORD=""
SMTP_EMAIL=""
SMTP_PORT="587"
SMTP_HOST="smtp.gmail.com"

DATABASE_LOCAL=mongodb://localhost:27017/pension-frontend
DATABASE_PASSWORD=""

JWT_SECRET=""
JWT_EXPIRES_IN=30d
JWT_COOKIE_EXPIRES_IN=30d
JWT_REFRESH_SECRET=""
JWT_REFRESH_EXPIRES_IN=1y

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

SENDGRID_PASSWORD=""
SENDGRID_USERNAME=apikey

REDIS_HOST=""
REDIS_PASSWORD=""
REDIS_PORT=""
