name: CI

on:
  pull_request:
    branches:
      - main
      - dev
      - release/*
  push:
    branches:
      - main

jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
      NEXT_PUBLIC_PAYSTACK_BASE_URL: ${{ secrets.NEXT_PUBLIC_PAYSTACK_BASE_URL }}
      NEXT_PUBLIC_PAYSTACK_SECRET_KEY: ${{ secrets.NEXT_PUBLIC_PAYSTACK_SECRET_KEY }}
      AUTH_SECRET: ${{ secrets.AUTH_SECRET }}

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Lint
        run: pnpm lint

      - name: Build
        run: pnpm run build
